.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  justify-content: center ;
  align-items: center;
  margin-top: -40rem;
  margin-left: 40rem;
  background-color: #fafafa;
  border-radius: 10px;
}


/* Encabezado */
.container h1 {
  text-align: center;
  color: #1b063e;
  font-size: 25px;
  margin-bottom: 20px;
}

.container h2 {
  text-align: left;
  color:#1b063e;
  font-size: 16px;
  margin-bottom: 0.2rem;
}


.datepickerinput  {
  width: 100%;
  height: 40px;
  padding: 8px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #fafafa;
  background-image: url('/path/to/calendar-icon.png'); /* Agrega la ruta correcta de la imagen del calendario */
  background-position: right 10px center;
  background-repeat: no-repeat;
  box-sizing: border-box;
}
/* Campos de formulario */


.form-group textarea {
  resize: vertical;
}

.deleteImage {
  background-color: red;
  position: absolute;
  margin-left: 15rem;
  z-index: 999;
  margin-bottom: 15rem;
}

/* Botón de enviar y cancelar */
.buttonLoadGame {
  background-color: #622eda;
  color: #fafafa;
  border: none;
  border-radius: 0.2rem;
  padding: 10px 20px;
  cursor: pointer;
 margin-left: 10rem;
 
}

.buttonLoadGame hover {
  background-color: red;
  color: #fafafa;
  border: none;
  border-radius: 0.2rem;
  padding: 10px 20px;
  cursor: pointer;
 margin-left: 10rem;
 
}

.cancel {
  background-color: transparent;
  color:#622eda;
  margin-left:4rem;
  text-decoration:underline;
}

/* Imagen seleccionada */
.selected-image {
  width: 100%;
}

/* Mensajes de validación */
.message {
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  color:#622eda;
  text-align: center;
  font-weight: bold !important;
}

.message.success {
  background-color: #570606;
  color:#987bdc;
  font-weight: bold ;
  ;
}

.errorMessage {
  text-align: center;
  color: #987bdc;
}

.textarea {
  /* Estilos para la caja de texto (textarea) */
  width: 100%;
  min-height: 100px;
  resize: vertical;
  padding: 5px;
}

.imageLoad {
  justify-content: center;
  margin-top: 4rem;
  align-items: center;
  width: 100%;
}

.imageLoaded {
  margin-top: 2rem;
  align-items: center;
  width: 100%;
}


.image-container:hover img {
  opacity: 0.5;
}

/* Estilo para mostrar el botón X en el hover */
.image-container:hover .delete-button {
  display: block;
}

/* Estilo para ocultar el botón X por defecto */
.delete-button {
  display: none;
  position: absolute;


  transform: translate(14rem,-450%);
  background-color:transparent ;
  color:#fafafa;
  padding: 5px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 5rem;
  height:5rem;
  font-size: 8rem;
}

.uploadImage{
  font-size: 10rem;
  color: #987bdc;
  align-items: center;
  width: 20%;

}

.container .buttonContainer{
  align-items: center;
  justify-content: center;
  justify-content: center;

}

.title{
  font-size: 10px;
}

.input{
margin-top: 1rem;
width: 100% !important;

}

.textarea{
border-radius: 10px;
width: 100%;
}


.selectImage{
  width: 50%;
  color: #fafafa;
}

.selectImage button{
  width: 100%;
  color: red;
  align-items: center;
  justify-content: center;
  display:none;
  border-radius: 10px;
}

._imageLoad_brvfo_205{
 padding: 10px;
 height: 100px;
}

.containerSelect{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.select{
  width: 100%;
  height: 2rem;
  margin-bottom: 0;
  margin-top: 0;
}

.imageLoad{
  margin-top: 5rem;
}