.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  justify-content: center;
  align-items: center;
  align-items: center;
  margin-top: -32rem;
  margin-left: 20rem
}


/* Encabezado */
.container h1 {
  text-align: center;
  color: #622eda;
  font-size: 25px;
  margin-bottom: 20px;
}

.container h2 {
  text-align: left;
  color:#fafafa;
  font-size: 16px;
  margin-bottom: 0.2rem;
}

/* Campos de formulario */
.form-group {
  margin-bottom: 20px;
}

.form-group h1 {
  color: #987bdc;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #3f13a4;
  border-radius: 5px;
  background-color: #1b063e;
  color: #cdcdcd;
}

.form-group textarea {
  resize: vertical;
}

.deleteImage {
  background-color: red;
  position: absolute;
  margin-left: 15rem;
  z-index: 999;
  margin-bottom: 15rem;
}

/* Botón de enviar y cancelar */
.buttonLoadGame {
  background-color: #622eda;
  color: #fafafa;
  border: none;
  border-radius: 0.2rem;
  padding: 10px 20px;
  cursor: pointer;
 margin-left: 6rem;
}

.cancel {
  background-color: transparent;
}

/* Imagen seleccionada */
.selected-image {
  width: 100%;
}

/* Mensajes de validación */
.message {
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  color: #fafafa;
  text-align: center;
}

.message.success {
  background-color: #570606;
  color: #fafafa;
}

.errorMessage {
  text-align: center;
  color: #987bdc;
}

.textarea {
  /* Estilos para la caja de texto (textarea) */
  width: 100%;
  min-height: 100px;
  resize: vertical;
  padding: 5px;
}

.imageLoad {
  justify-content: center;
  margin-top: 4rem;
  align-items: center;
  width: 100%;
}

.imageLoaded {
  margin-top: 2rem;
  align-items: center;
  width: 100%;
}


.image-container:hover img {
  opacity: 0.5;
}

/* Estilo para mostrar el botón X en el hover */
.image-container:hover .delete-button {
  display: block;
}

/* Estilo para ocultar el botón X por defecto */
.delete-button {
  display: none;
  position: absolute;


  transform: translate(14rem,-450%);
  background-color:transparent ;
  color:#fafafa;
  padding: 5px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 5rem;
  height:5rem;
  font-size: 8rem;
}

.uploadImage{
  font-size: 10rem;
  color: #987bdc;
  align-items: center;
}

.container .buttonContainer{
  align-items: center;
  justify-content: center;
  justify-content: center;

}