.games-container {
    width: 70%;
    height: 100%;
    display: block;
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: space-between; /* Ajustamos a la izquierda y derecha */
    margin: -580px; /* Margen superior automático para centrar verticalmente */
    margin-left: 50%; /* Ajusta la cantidad de margen izquierdo para desplazar el componente hacia la derecha */
    transform: translateX(-32%); /* Centra el componente horizontalmente después de aplicar el margen izquierdo */
    border: solid 1px white;
    background-color: white;
    padding-top: 8px;
  }

  .container {
    display: flex; /* Colocamos los elementos en línea */
    align-items: center; /* Centramos verticalmente los elementos */
    justify-content: space-between; /* Ajustamos a la izquierda y derecha */
    margin-bottom: 10px; /* Espacio entre los elementos y el hr */
  }

  .games {
    font-size: 24px;
  }
  
  .filters {
    display: flex;
    align-items: center;
    margin-left: 450px;
  }
  .searchBar {
    display: flex;
    align-items: center;
  }
  .divider {
    border: none;
    height: 2px;
    background-color: black; /* Cambiamos el color a negro */
    margin-top: 10px;
  }
  
  .content-container {
    width: 100%;
    margin-left: auto; /* Centramos horizontalmente el contenido */
  }
  
  .paginationContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px; /* Espacio entre el hr y el paginado */
  }