.loginContainer {
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 300px; /* Puedes ajustar el valor del ancho según tus preferencias */
  margin: 0 auto;
  /* Añade las siguientes propiedades para centrar verticalmente y horizontalmente */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 500px;
  margin-top: -50px;
}
  
  .formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .input {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 4px;
    border: none;
  }
  
  .loginButton {
    padding: 10px;
    background-color: #6200ee;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .loginButton:hover {
    background-color: #3700b3;
  }