.metrics-container {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 35rem;
  align-items: center; /* Centra verticalmente el contenido */
  justify-content: center; /* Centra horizontalmente el contenido */
  color:black;
  margin-top: -620px;
  margin-left: 50%; /* Ajusta la cantidad de margen izquierdo para desplazar el componente hacia la derecha */

  transform: translateX(-32%);
  border-radius: 10px;

}
